<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <title>Home</title>
</head>

<body>
  <%- include('navbar'); -%>
    <div class="container">
      <%- include('flash'); -%>
        <div id="trending" class="my-5">
          <h2>All Movies</h2>
          <div class="d-flex p-2 justify-content-center flex-wrap">
            <% for (let res of results) { %>
              <div class="movie-card m-3" style="width: 16rem;">
                <a href="/movie/<%= res.MOVIE_ID %>" class="text-decoration-none text-body">
                  <img src="<%= res.MOVIE_POSTER %>" class="card-img-top mb-2" alt="..."
                    style="width: 16rem; height: 23.7rem;">
                  <h5 class="card-title ">
                    <%= res.MOVIE_TITLE %>
                  </h5>
                </a>
              </div>
              <% } %>
          </div>
        </div>
    </div>
</body>

</html>