<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <title>Search</title>
</head>

<body>
  <%- include('navbar'); -%>
    <div class="container">
      <%- include('flash'); -%>
      <form class="d-flex justify-content-center flex-wrap pt-4" role="search" action="/search" method="GET">
        <div class="me-2">
          <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off" name="title" <% if (title) { %>checked<% } %>>
          <label class="btn" for="btn-check-1">Title</label>
        </div>
        <div class="me-2">
          <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off" name="director" <% if (director) { %>checked<% } %>>
          <label class="btn" for="btn-check-2">Director</label>
        </div>
        <div class="me-2">
          <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off" name="plot" <% if (plot) { %>checked<% } %>>
          <label class="btn" for="btn-check-3">Plot</label>
        </div>
        <div class="me-2">
          <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off" name="genre" <% if (genre) { %>checked<% } %>>
          <label class="btn" for="btn-check-4">Genre</label>
        </div>
        <input class="form-control border border-black" type="search" placeholder="Search" aria-label="Search" name="query" style="width: 20rem;" value="<%= query %>" >
        
      </form>
        <div id="" class="my-5">
          <div class="d-flex p-2 justify-content-center flex-wrap">
            <% for (let res of results) { %>
              <div class="movie-card m-3" style="width: 13.5rem;">
                <a href="/movie/<%= res.MOVIE_ID %>" class="text-decoration-none text-body">
                  <img src="<%= res.MOVIE_POSTER %>" class="card-img-top mb-2" alt="..."
                    style="width: 13.5rem; height: 20rem;">
                    <p class="card-title"><strong><%= res.MOVIE_TITLE %></strong></p>
                </a>
              </div>
              <% } %>
          </div>
        </div>
    </div>
</body>

</html>